.featured {
  flex: 2;
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;
  .top {
    font-size: 15px;
    color: rgb(177, 177, 177);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 18px;
    }
  }
  .bottom {
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    .circle {
      width: 100px;
    }
    .title {
      color: gray;
    }
    .money {
      margin-top: -10px;
      font-size: 30px;
      color: rgb(107, 255, 93);
    }
    .disc {
      margin-top: -20px;
      font-size: 12px;
      color: gray;
    }
    .summary {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        align-items: center;
        .itemtitle {
          font-size: 14px;
          color: gray;
        }
        .itemresult {
          display: flex;
          align-items: center;
          margin: 5px;
          .resultamount {
            font-size: 14px;
          }
          &.positive {
            color: green;
          }
          &.negative {
            color: red;
          }
        }
      }
    }
  }
}
